<form>
  <div class="form-field">
    <label>Password*</label>
    <input type="text" [formField]="form.password" />
    @if (form.password().touched() && form.password().invalid() && form.password().errors()) {
      @for (error of form.password().errors(); track error.message) {
        <div class="error-message">{{ error.kind }} -> {{ error.message }}</div>
      }
    }
  </div>
  <div class="form-field">
    <label>Confirm Password*</label>
    <input type="text" [formField]="form.confirmPassword" />
    @if (
      form.confirmPassword().touched() &&
      form.confirmPassword().invalid() &&
      form.confirmPassword().errors()
    ) {
      @for (error of form.confirmPassword().errors(); track error.message) {
        <div class="error-message">{{ error.kind }} -> {{ error.message }}</div>
      }
    }
  </div>
</form>
