<form>
  <div class="form-field">
    <label>Email*</label>
    <input type="text" [formField]="form.email" />
    @if (form.email().touched() && form.email().invalid() && form.email().errors()) {
      @for (error of form.email().errors(); track error.message) {
        <div class="error-message">{{ error.kind }} -> {{ error.message }}</div>
      }
    }
  </div>
  <div class="form-field">
    <label>Confirm Email*</label>
    <input type="text" [formField]="form.confirmEmail" />
    @if (
      form.confirmEmail().touched() && form.confirmEmail().invalid() && form.confirmEmail().errors()
    ) {
      @for (error of form.confirmEmail().errors(); track error.message) {
        <div class="error-message">{{ error.kind }} -> {{ error.message }}</div>
      }
    }
  </div>
</form>
